<div class="books-comp container-fluid pt-4">
  <!--Projects section v.1-->
<section class="books pt-1">
      
  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-lg-4 col-md-4 col-sm-4 mb-3">

      <!--Featured image-->
      <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
        <img src="assets/images/EarthART_Cover.jpg" class="img-fluid" alt="Sample project image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Excerpt-->
      <mdb-card-body class="mt-3">
        <h4>
          <strong>Earth Art</strong>
        </h4>
        <p>
          Inspired by colour analyses created by world famous natural science scholars 
          such as Isaak Newton or Johann Wolfgang von Goethe, Bernhard Edmaier presents 
          a very exceptional view of the earth and its amazingly colourful surface.
        </p>
        <div>
            <a 
            target="_blank" 
            rel="noopener noreferrer" 
            href="https://www.amazon.com/EarthArt-Colours-Earth-Bernhard-Edmaier/dp/0714865761"
            mdbBtn 
            size="sm" 
            class="waves-light books-button rounded" 
            mdbWavesEffect>
            Amazon
          </a>
        </div>
        
      </mdb-card-body>

    </div>
    <!--Grid column-->

     <!--Grid column-->
     <div class="col-lg-4 col-md-4 col-sm-4 mb-3">

        <!--Featured image-->
        <div class="view overlay rounded z-depth-1 waves-light" mdbWavesEffect>
          <img src="assets/images/Wasser_Cover.jpg" class="img-fluid" alt="Sample project image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
        <!--Excerpt-->
        <mdb-card-body class="mt-3">
          <h4>
            <strong>Water</strong>
          </h4>
          <p>
            This book of images shows water as a destructive, transporting as well as constructive 
            and creative force in its many forms: liquid, vaporized in the clouds and frozen to ice. 
            The aerial images have been shot on all of the five continents.
          </p>
          <div>
              <a 
              target="_blank" 
              rel="noopener noreferrer" 
              href="https://www.amazon.com/Water-Bernhard-Edmaier/dp/3791381652"
              mdbBtn 
              size="sm" 
              class="waves-light books-button rounded" 
              mdbWavesEffect>
              Amazon
            </a>
          </div>
        </mdb-card-body>
  
      </div>
      <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-4 col-sm-4 mb-3">

      <!--Featured image-->
      <div class="view overlay rounded z-depth-1  waves-light" mdbWavesEffect>
        <img src="assets/images/EarthonFire_Cover.jpg" class="img-fluid" alt="Sample project image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Excerpt-->
      <mdb-card-body class="mt-3">
        <h4>
          <strong>Earth on Fire</strong>
        </h4>
        <p>
          In this book, Bernhard Edmaier has tackled various volcanic and plate tectonic phenomena such as 
          fire-spewing volcanoes and lava streams, dark clouds of volcanic ash, geysers, brightyellow sulphur 
          crusts and colourful acid lakes.
        </p>
        <div>
            <a 
            target="_blank" 
            rel="noopener noreferrer" 
            href="https://www.amazon.com/Earth-Fire-Volcanoes-Shape-Planet/dp/0714857009"
            mdbBtn 
            size="sm" 
            class="waves-light books-button rounded" 
            mdbWavesEffect>
            Amazon
          </a>
        </div>
      </mdb-card-body>

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>
<!--/Projects section v.1-->


</div>