  <!--Carousel Wrapper-->
  <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [type]="'carousel-thumbnails'" [animation]="'fade'">
    <!--First slide-->
    <mdb-carousel-item>
        <img class="d-block w-100" src="assets/images/carousel-1_1.jpg" alt="First slide">
    </mdb-carousel-item>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-carousel-item>
        <img class="d-block w-100" src="assets/images/carousel-1_2.jpg" alt="Second slide">
    </mdb-carousel-item>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-carousel-item>
        <img class="d-block w-100" src="assets/images/carousel-1_3.jpg" alt="Third slide">
    </mdb-carousel-item>
    <!--/Third slide-->
    <!--Fourt slide-->
    <mdb-carousel-item>
        <img class="d-block w-100" src="assets/images/carousel-1_4.jpg" alt="First slide">
    </mdb-carousel-item>
    <!--/Fourth slide-->
    <!--Fifth slide-->
    <mdb-carousel-item>
        <img class="d-block w-100" src="assets/images/carousel-1_5.jpg" alt="Second slide">
    </mdb-carousel-item>
    <!--/Fifth slide-->
    <!--Sixth slide-->
    <mdb-carousel-item>
        <img class="d-block w-100" src="assets/images/carousel-1_6.jpg" alt="Third slide">
    </mdb-carousel-item>
    <!--/Sixth slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->