<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-1 navbar-light grey lighten-5 fixed-top scrolling-navbar" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">Bernhard Edmaier</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
            </li>
        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<div class="container-fluid mt-5 pt-4">
    <header-carousel></header-carousel>
    <app-books></app-books>
    <app-exhibitions></app-exhibitions>
    <app-light-margin></app-light-margin>
    <app-about></app-about>
</div>

<!-- Footer -->
<footer class="page-footer unique-color-dark">
    
<!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://www.bernhard-edmaier.de/" target="_blank"> bernhard-edmaier.de </a>
</div>
<!-- Copyright -->

</footer>
<!-- Footer -->