<app-navbar></app-navbar>
<div class="container-fluid mt-5 pt-4" id="home">
    <header-carousel id="gallery-one"></header-carousel>
    <app-books id="books"></app-books>
    <app-exhibitions id="exhibitions"></app-exhibitions>
    <app-light-margin id="gallery-two"></app-light-margin>
    <app-about id="about"></app-about>
</div>

<!-- Footer -->
<footer class="page-footer unique-color-dark">
    
<!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://www.bernhard-edmaier.de/" target="_blank"> bernhard-edmaier.de </a>
</div>
<!-- Copyright -->

</footer>
<!-- Footer -->